*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --btn-color:#FAFAFA;
    --muted-color:#757575;
    --hover-color:#39BAF8;
}
 
 header{
    position: relative;
    background-image: url("/images/Document.jpeg");
    background-position: center  center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 333px;
   }
header .layer{
    background-color: rgba(0, 0, 0, 0.486);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
 
} 
  p{
    color:var(--muted-color);
 }
header .user-image{
    display: flex;
    left: 64px;
    position: absolute;
    top: 50%;
    transform: translateY(50%);
}
header .user-image .image{
    width: 164px;
    height: 164px;
  }
 
header .user-image .image img{
    width: 100%;
    border-radius: 10px;
}
header .user-image .info{
    padding-inline: 10px;
      align-self: flex-end;
 }
 @media screen and (max-width:768px){
    header .user-image{

          transform: translateX(-50%, -50%);
         flex-direction: column;
     }
     header .user-image .info{
        align-self: self-start;
        padding-top: 5px;
        padding-inline: 0;
    }
 }

#cards{
    padding-inline: 64px;
    padding-block: 150px;
}

#cards .cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 32px;
 }
#cards .buttons{
    /* padding-top: 2%; */
     display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 20px; */
 }
#cards .buttons button{
      border: none;
      transition:  .5s ease-in;
      border-radius:6px;
      width: 200px;
      height: 51px;
      background-color: var(--btn-color);
}
#cards .buttons button i{
    padding-inline: 8px;
}
.cards .card .image{
    padding-inline-end: 15px;
    background-color: teal;
}
.cards .card .imageright{
    padding-inline-start: 15px;
    background-color: teal;
}

#cards .buttons button:hover{
    background-color:var(--hover-color);
    transition: all .25s;
    color: #fff;
}
 #cards .cards .card{
     width: calc(100% / 7);
     /* padding-right: 15px; */
     padding-block: 15px;
     position: relative;
     flex-grow: 1;
    }
  
  #cards .cards .card img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    }  
  
 #cards .cards .card span{
    color: #39BAF8;
    font-weight: 900;
 }


 .spinner-layer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 9999999999999999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.486);
    overflow: none;    
}
 #spinner {
    width: 50px;
    height: 50px;
    border: 4px solid #ccc;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


 @media screen and (max-width:1200px) and (min-width:1000px) {
    #cards{
        padding-inline: 20px;
     }
     #cards .cards .card img{
        height: 300px !important;
     }
    #cards .cards .card{
     width: calc(100% / 5);
         
   }
 }

 @media screen and (max-width:1199px) and (min-width:800px) {
    #cards{
        padding-inline: 30px;
     }
     #cards .cards .card img{
        height: 250px;
    }
    #cards .cards .card{
     width: calc(100% / 4);
         
   }
 }
 @media screen and (max-width:799px) and (min-width:600px) {
    #cards .buttons{
        padding-top: 5%;
    }
    #cards{
        padding-inline: 40px;
     }
     #cards .cards .card img{
        height: 300px;
    }
    #cards .cards .card{
     width: calc(100% / 3);
        
   }
 }
 @media screen and (max-width:599px) {
    #cards .buttons{
        padding-top: 5%;
        gap: 10px;
        flex-wrap: wrap;
     }
    #cards .buttons button{
        padding: 10px;
        width: calc(100%/1);

    }
    #cards{
        padding-inline: 10px;
     }
    #cards .cards .card{
        width: calc(100% / 1);
            
      }
      #cards .cards .card img{
        height: 100%;
    }
 }


